{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to <i><b>Smart Health</b></i></h1>
    <p>Your go-to solution for health management, updates and guidance.</p>
</div>

<div class="container mt-5">
    <div class="row equal-height">
        <div class="card">
            <img src="{{ url_for('static', filename='images/medication.jpg') }}" class="card-img-top" alt="Medication">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Medications</h5>
                <p class="card-text">Manage your medications and dosage schedule.</p>
                <a href="{{ url_for('add_medication') }}" class="btn btn-primary mt-auto">Manage Medications</a>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/healthy_food.jpg') }}" class="card-img-top" alt="Healthy Food">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Healthy Meals</h5>
                <p class="card-text">Discover healthy meal options and recipes.</p>
                <a href="{{ url_for('meals') }}" class="btn btn-primary mt-auto">Explore Meals</a>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='images/health_news.jpg') }}" class="card-img-top" alt="Health News">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Health News</h5>
                <p class="card-text">Stay updated with the latest health news.</p>
                <a href="{{ url_for('health_news') }}" class="btn btn-primary mt-auto">Read News</a>
            </div>
        </div>
    </div>
</div>

{% if not 'user_id' in session %}
    <div class="text-center my-4">
        <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Get Started</a>
    </div>
{% endif %}

{% endblock %}
